.actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: -moz-available;
	width: -webkit-fill-available;
	margin: 0 1rem;

	.section__title {
		padding-right: 1rem;
	}

	.action-buttons {
		display: flex;
		gap: 0.5rem;

		.section__button {
			background-color: rgb(194, 126, 0);
			color: white;
			// border: 3px solid #ccc;
			border: none;
			border-radius: 5px;
			padding: 0.5rem 1rem 0.5rem 1rem;
			font-size: 1rem;
			font-weight: 400;
			// color: #007acc;
			margin: 1rem 0 1rem 0;
			cursor: pointer;

			&:hover:enabled {
				background-color: #0069d9;
				color: #fff;
			}
		}

		.disabled {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}
}
